<div class="m-article">
    <div class="m-article m-article--p">
<h4 class="a-title a-title--h4">Oubli de pilule</h4>
    <p class="a-paragraph a-paragraph--description">Comment faire si j'ai oublié ma pilule ?</p>
    </div>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
<img class="a-buttons a-buttons--little" src="http://localhost:1234/medias/fleche.jpg">
</div>

<div class="m-article">
    <div class="m-article m-article--p">
        <h4 class="a-title a-title--h4">La pornographie</h4>
    <p class="a-paragraph a-paragraph--description">Comment parler de pornographie à son enfant ?</p>
    </div>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
<img class="a-buttons a-buttons--little" src="http://localhost:1234/medias/fleche.jpg">
</div>

<div class="m-article">
    <div class="m-article m-article--p">
<h4 class="a-title a-title--h4">Accident pendant le rapport</h4>
    <p class="a-paragraph a-paragraph--description">Quels sont les gestes à adopter si le préservatif a craqué ?</p>            
    </div>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
<img class="a-buttons a-buttons--little" src="http://localhost:1234/medias/fleche.jpg">
</div>

<div class="m-article">
    <div class="m-article m-article--p">
<h4 class="a-title a-title--h4">Les autres contraceptions</h4>
    <p class="a-paragraph a-paragraph--description">Quels sont les différents modes de contraception autres que la pilule ?</p>
    </div>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
<img class="a-buttons a-buttons--little" src="http://localhost:1234/medias/fleche.jpg">
</div>

<div class="m-article">
    <div class="m-article m-article--p">
<h4 class="a-title a-title--h4">Oubli de pilule</h4>
    <p class="a-paragraph a-paragraph--description">Comment faire si j'ai oublié ma pilule ?</p>
    </div>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
<img class="a-buttons a-buttons--little" src="http://localhost:1234/medias/fleche.jpg">
</div>