<div class="m-article">
    <h4 class="a-title a-title--h4">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
    <p class="a-paragraph a-paragraph--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, qui ipsam! Repellendus, aut officiis iusto ut quisquam rerum alias.</p>
    <img class="a-symbols a-symbols--badge" src="http://localhost:1234/medias/badge.jpg">
    <div class="a-buttons a-buttons--little">
</div>
</div>