<div class="m-menu">
    <div class="m-menu m-menu--title">
        <img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/croix.jpg"> 
<h3 class="a-title a-title--h3">Ajouter</h3>
    </div>
<div class="m-menu m-menu--title">
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/preservatif.jpg">
<h3 class="a-title a-title--h3">Les maladies</h3>
</div>
<div class="m-menu m-menu--title">
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/rond.jpg">
<h3 class="a-title a-title--h3">L'acte sexuel</h3>
</div>
<div class="m-menu m-menu--title">
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/internet.jpg">
<h3 class="a-title a-title--h3">Internet</h3>
</div>
<div class="m-menu m-menu--title">
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/amour.jpg">
<h3 class="a-title a-title--h3">Les relations</h3>
</div>

</div>