<div class="m-menu">
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/croix.jpg"> 
<h3 class="a-title a-title--h3"></h3>
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/preservatif.jpg">
<h3 class="a-title a-title--h3"></h3>
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/rond.jpg">
<h3 class="a-title a-title--h3"></h3>
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/internet.jpg">
<h3 class="a-title a-title--h3"></h3>
<img class="a-symbols a-symbols--icons" src="http://localhost:1234/medias/amour.jpg">
<h3 class="a-title a-title--h3"></h3>
</div>