.m-article {
  width: 800px;
  height: 90px;
  display: flex;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  border-radius: 5%;
  margin-left: 50px;
  background-color: white;
}

.m-article--p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-width: 0px;
  margin-top: -1px;
  margin-left: -3px;
}
