.a-buttons--big {
  width: 200px;
  height: 50px;
  background-color: #f6ac65;
  border-radius: 10%;
}

.a-buttons--little {
  width: 80px;
  height: 90px;

  border-radius: 10%;
}

.a-buttons--article {
  width: 800px;
  height: 50px;
  background-color: #c2d8ec;
  border-radius: 5%;
}
