.a-buttons--big {
  width: 200px;
  height: 50px;
  background-color: #f6ac65;
  border-radius: 10%;
}

.a-buttons--little {
  width: 80px;
  height: 110px;
  background-color: #f6ac65;
  border-radius: 10%;
}

.a-buttons--article {
  width: 800px;
  height: 50px;
  background-color: #89c4e5;
  border-radius: 5%;
}
